*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
 video{
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: fixed;
 }
 
.page1{
    height: 100vh;
    width: 100vw;
    position: relative;
    background-color: rgba(9, 9, 9, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.page1 img{
    
    width: 70vw;
    position: relative;
    padding-top: 50px;
    padding-bottom: 20px;
    
    
    
}
.page1 p{
    color: white;
}
.page1 H2{
    font-size: 30px;
    padding-bottom: 20px;
    color: white;
    
}
.card{
    height: 100%;
    background-color: rgb(255, 255, 255);
    width: 40%;
    border-radius: 10px;
    background-size: cover;
    background-position: center;
   
    
}
.card-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
#card1{
    background-image: url(drone.png);
}


.card:hover{
    opacity: 1;
}
.overlay{
    padding: 50px;
    width: 100%;
    height: 100%;
    background-color: skyblue;
    opacity: 0;
    
}
.overlay:hover{
    opacity: 1;
}

